@import url(./bloglargescreen.css);
@import url(./blogmediumscreen.css);
@import url(./blogsmallscreen.css);
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');


body {
    font-family: "Arsenal", sans serif;
    box-sizing: border-box;
    text-align: center;
}


.header {
    text-align: center;
    background-color: pink;
    border: 1px solid orchid;
    color: rgb(176, 117, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}


.woman-coding {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: pink;
    width: 100%;
}


.navbar button {
    background-color: palevioletred;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: dashed;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.main-content {
    display: grid;
    grid-template-areas: 
        "blog1 blog1 blog2 aside"
        "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 1rem;
}

.blog1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(176, 117, 199);
    padding: 20px;
    border: 2px solid pink;
    grid-area: blog1;
    width: auto;
    height: auto;
    font-size: smaller;
    white-space: normal;
    min-width: 150px;

}

.blog2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(214, 78, 173, 0.788);
    padding: 20px;
    border: 2px solid #ffc0cb;
    grid-area: blog2;
    font-size: smaller;
    width: auto;
    height: auto;
    white-space: normal;
}

.aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: aside;
    height: auto;
    background-color: lightpink;
    justify-content: flex-start;
    border: 2px solid #ffc0cb;
    white-space: normal;
}

.ul {
    width: 100%;
    height: 100%;
    background-color: lightpink;
    justify-content: center;
    list-style-type: none;
}


.footer {
    background-color: palevioletred;
    color: white;
    text-align: center;
    height: 20px;
    width: 100%;
    bottom: 0;
    grid-area: footer;
}

@media (max-width: 600px) {
    body {
        font-size: 3vw;
    }
    .main-content {
        grid-template-areas: 
            "blog1"
            "blog2"
            "aside"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header, .navbar, .blog1, .blog2, .aside {
        width: 100%;
        height: auto;
    }
}

