@media (min-width: 601px) and (max-width: 1024px) {
    .header {
        font-size: 1.5rem;
    }
    .navbar {
        flex-direction: row;
    }
    .main-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "box1 box2"
            "box3 box3"
            "aside aside"
            "footer footer";
    }
    aside {
        height: auto;
    }
    .footer {
        position: static;
        width: 100%;
    }
}
