@media (min-width: 1025px) {
    .header {
        font-size: 2rem;
    }
    .navbar {
        flex-direction: row;
    }
    .main-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "blog1 blog1 blog2 aside"
            "footer footer footer footer";
    }
    .aside {
        height: 100%;
    }
    .footer {
        position: fixed;
        width: 100%;
    }
}
