@media (min-width: 1025px) {
    .header {
        font-size: 2rem;
    }
    .navbar {
        flex-direction: row;
    }
    .main-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "aside box1 box2"
            "aside box3 box3"
            "aside box3 box3"
            "footer footer footer";
    }
    aside {
        height: 100%;
    }
    .footer {
        position: fixed;
        width: 100%;
    }
}
